Downloading PGP-encrypted content buglets

Mailpile will currently transparently decrypt any attached PGP-encrypted content, which is nice.

However, this feature has two problems that need fixing:

   * [ ] A way to download the encrypted data (w/o decrypting)
   * [x] The decrypted data is served up with the wrong filename.

The latter issue is particularly vexing and needs to be fixed before 1.0.

Why it's bad: you download a file named `foo.zip.gpg`, which should actually be named `foo.zip`! Since it's named .gpg, the natural (or automatic) reaction is to open it using GnuPG which doesn't know what to do with the contents, which will cause even experienced users to be confused (e.g. assuming the data was corrupted somehow). Only a lucky few will think to try and directly unzip a file named `foo.zip.gpg`...

How to fix the 2nd issue, in case a volunteer steps up before I get around to it:

   * The attachment decrypting logic in `mailpile/crypto/mime.py` is probably buggy. I'm not sure what the problem is, but I'd take a careful look at `UnwrapMimeCrypto`, the case which handles attachment and uses "sniffing" to detect encrypted content.

The 1st issue is in part UI, but will also require some back-end work, there is no API support for requesting un-decrypted content. So it's probably too broad to count as low hanging fruit.

The "probably buggy" code is "probably mine" so I will look at it.

Be forewarned, however, that in writing and testing the code I found some inconsistencies in the way existing software, especially Thunderbird/Enigmail, handles encrypted atachments.  That was a year ago so I've forgotton the details.  This issue may be a consequence.

I'm not sure there is a realistic use case for downloading without decrypting.  Or alternatively, there are so many different possible use cases that accomodating them all would just make a mess.

Thanks! FWIW, I agree with decrypting it being the default, you probably just need to be more aggressive about cleaning up the part headers so the filename is updated internally before it gets downloaded. Fixing that would be enough to make this not a blocker for 1.0.

The example I encountered that gave me trouble had MIME headers looking like this:

    Content-Disposition: attachment;
    	filename=file.zip.gpg
    Content-Type: application/octet-stream;
    	x-unix-mode=0664;
    	name="file.zip.gpg"
    Content-Transfer-Encoding: base64



Comparing your headers to the code of MimeTrimFilename() in mime.py it looks as if the problem is that the code expects the file name to be a quoted-string.  When it can't find the " characters it doesn't strip the .gpg off the string.

RFC2183 defines the Content-Disposition Header.  It references the value field format defined in RFC2045 which allows value to be either a token or a quoted-string, which is in turn defined in RFC822.

Mea culpa.  I had only ever seen quoted filenames and did not check the RFCs.

I'll test and push a fix when I get time which may not be for a few days.  Also I want to recheck other parts of the code for similar issues.


Testing shows that this gets complicated in the case of long file names. At least one email program (Thunderbird) uses RFC2231 for long file names that do not contain blanks.  RFC2231 splits up long filenames into parameters filename*0, filename*1, ... .
I should have fix shortly which handles mail from most sources without excessive complexity.


Testing also shows a problem when an email containing an encrypted attachment is received by MP then forwarded without encryption or signing.  The MIME part of the forwarded email that contains the (now decrypted) attachment does not have a Content-Transfer-Encoding header and is not encoded.  Also no MIME-version or Content-Type headers.  If the attachment is a binary file (e.g. .gz) it will be corrupted when it is forwarded.  The Python docs at https://docs.python.org/2/library/email.message.html?highlight=email.message#module-email.message seem to say that calling set_charset() should fix all that, enabling encoding automatically when email .generator.Generator() is called, but it doesn't always happen.  I'll work on cleaning this up before I make a PR.

Looks like an attachment should always be base64 encoded even if it is text.  Of course it is then not readable in the raw message source, but (since it is an attachment) a mail client will not display it to a user without further processing anyway.  Also, even if the attachment is text, it may use UTF-8, it may have long lines, etc., all of which require some encoding.




I actually thought we already were always encoding attachments as Base64! But the forwarding in particular may do things differently and may have bugs.

Forwarding of individually encrypted attachments is a particularly interesting case; since it's not obvious whether we should be forwarding the decrypted content or the encrypted versions. I'd be inclined to just not forward the attachment at all if it was originally encrypted; require the user to manually attach the version they prefer. This also relates indirectly to #1791, in that users ultimately need to have control over whether they download encrypted or decrypted content.

I've had to play a lot with the  set_payload() and related methods because the documentation is not complete.  Strange, if you instantiate a Message object, then add to it a header that specifies base64 encoding, then set_payload(), the payload does not get encoded.  You have to trick set_payload() by specifying a character set (as its second argument) like utf-8 that requires base64; then set_payload() itself will encode and will generate a Content-Transfer-Encoding header specifying base64.  Of course you could just encode the payload before calling set_payload() but by letting set_payload() do it, hopefully all the relevant line length and other special email requirements are guaranteed to be met. This looks to me like poor planning in the design of the Message object methods.  After all, get_payload() allows you to specify whether you want raw or decoded data, why not design set_payload() similarly.  I wonder if this is any better organized in Python 3.

Regarding whether to forward decrypted attachments - your point is well taken.  My feeling is that the default approach is to encrypt entire emails, not just attachments.  (e.g. Mailpile does not support creation of a new unencrypted email with an encrypted attachment unless the attachment is encrypted outside Mailpile.)  So if the user forwards an email that had any encrypted content at all, the best approach is to warn the user that he should encrypt the entire forwarded email. 

If the attachment is encrypted with your public key, there's no point in forwarding it to someone else since the recipient would not be able to decrypt it.  The only scenario in which forwarding an encrypted attachment might make sense is if it is encrypted to multiple keys and your recipient wants to forward it on to the holder of one of those keys. 

I do agree that it would be useful to have control over whether attachments are forwarded encrypted (similar issues apply to signing) but to me the simplest approach should be the default since the "casual user" will likely never use the more complex approach.

In fixing BjarniRunar's original complaint, some additional problems were found.

**Issues corrected in PR #1832:**

*   Token (unquoted) filename parameters of Content-Disposition attachment header were not being handled properly. (The .gpg or .asc suffix was not being stripped.) The suffix is now recognized and stripped. Note that the Content-Disposition filename is used only if the original filename is not present in the PGP packet in the .gpg or .asc file.
*   When an email with an encrypted attachment was received and forwarded with the attachment decrypted, the decrypted attachment would not be encoded, resulting in possible corruption of the attachment (especially if the attachment was a binary file). All decrypted attachments are now base64 encoded.
*   When an email was received with an encrypted attachment having a long filename with embedded blanks "folded" per RFC2822, the filename was not properly "unfolded"; specifically, the added were not stripped. In some cases the added characters were converted to blanks when the attachment was saved. As a result the long file name was modified from the version originally encoded. This appears to be a bug in email.message.Message.get_filename(). It appears to be present in both Python 2.7.9 and 3.4.2.

**Remaining bug:**

*   When an email with an encrypted attachment with a long file name containing multiple consecutive blanks is received by Mailpile and forwarded, each string of consecutive blanks is replaced by a single blank. This appears to be caused by a bug in email.generator.Generator(), also present in email.message.Message.as_string(), in Python 2.7.9\. It appears to be corrected in Python 3.4.2.

**For future reference:**

The handling of attachment filenames on both sending and receiving was tested on Thunderbird 45.6 and on webmail clients Mailpile, GMail, Fastmail, Yahoo and Outlook, with these results:

*   When sending, all clients used "quoted-string" format for filenames, none used unquoted tokens. (BjarniRunar, what client produced the unquoted filename that you cited above?)
*   When sending long filenames, all clients except GMail use "folding" per RFC2822 to keep lines <78 characters **if** there are blanks present in the filename. One client (Yahoo) introduces extra blanks in the filename at the folds. Mailpile replaces multiple blanks with single blanks. Fastmail uses folding but still produces lines >78 characters!
*   When sending long filenames that do not have blanks, Thunderbird uses RFC2231 to limit line length to 78 characters. The rest produce lines >78 characters if the filename is long enough.
*   When receiving, all clients tested properly parsed RFC2231 format long filenames - even those that did not use RFC2231 to send long filenames.

This got mistakenly closed by the last merge. Reopening.

The 1.0 blockers have been cleared (thanks @JackDca!), bumping the rest to 1.1.